
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/autoRegStyle.css">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />

    <title>Авторизация</title>
</head>

<body>
    <main>
       
        <div></div>
        <div class="container">
            <div class="img_authorization">
                <img src="../images/Image.png">
            </div>
            <div class="authorizationCenter">
                <p class="divSignUp">
                    Нет аккаунта?
                    <a asp-controller="home" asp-action="registration"> Зарегистрируйтесь</a>
                </p>
                <div class="form_authorization">

                    <h1 class="h1Auto">Авторизация</h1>
                    <form asp-antiforgery="true" asp-action="Authorization" asp-controller="Home">
                        <label class="authorizationLabel" hidden >Введите электронную почту</label>
                        <br />
                        <input class="authorizationInput" type="email" required name="emailUser"
                               placeholder="Электронная почта" />
                        <br />
                        <label class="authorizationLabel" hidden >Введите пароль</label>
                        <br />
                        <input class="authorizationInput" type="password" required name="passwordUser"
                               placeholder="Пароль" />
                        <br />
                        <p class="divForgetPass">
                            <a asp-action="ResetPasswordEmail" asp-controller="Home"> Забыли пароль?</a>
                        </p>
                        <input class="glow_button" type="submit" value="Авторизоваться" />

                    </form>
                   @*  <div class="containerLine">
                        <p class="line"></p>
                        <p>или</p>
                        <p class="line"></p>
                    </div>
                    <div>
                        <button class="glow_buttonGoogle" type="submit">
                            <img src="../images/ic_google logo.png" height="15" width="15" alt="Google Logo">
                            Google
                        </button>
                    </div> *@

                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["Message"]
                        </div>
                    }
                </div>
            </div>

        </div>


    </main>

    <!-- <footer>
        <h1>
            Здесь обитает пс0е
        </h1>
    </footer> -->
</body>

</html>