@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/autoRegStyle.css">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />

    <title>Подтверждение электронной почты</title>
</head>

<body>
    <main>
        <div></div>
        <div class="container">
            <div class="img_authorization">
                <img src="../images/Image.png">
            </div>
            <div class="authorizationCenter">

                    
                <form asp-action="Registration">
                    <div>
                        <input class="authorizationInput" name="key" id="key" type="number" placeholder="Код подтверждения" />

                    </div>
                    <input class="glow_button" type="submit" value="Подтвердить" />
                </form>
                  

            </div>

        </div>
    </main>

    <!-- <footer>
        <h1>
            Здесь обитает пс0е
        </h1>
    </footer> -->
</body>

</html>