<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="../css/materialStyle.css">
    <link rel="stylesheet" href="../css/personalAccountStyle.css">
    <link rel="stylesheet" href="../css/crudStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />
    <title>Забыли пароль?</title>

</head>
<body>
    <main>
        <div class="form_new">

            <form asp-antiforgery="true" asp-action="UpdatePasswordNoAuth" asp-controller="Home" method="post">
                
                <input class="CrudInput" type="email" name="email" placeholder="Введите электронную почту"  />
                <input class="newInput" type="submit" value="Отправить ссылку на восстановление пароля" />
            </form>

        </div>
        <br />
        <br />
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">
                TempData["Error"]
            </div>
        }
        <br />

    </main>

</body>
</html>