@model Mastery_Quotient.Models.UserNewPassword
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="../css/materialStyle.css">
    <link rel="stylesheet" href="../css/personalAccountStyle.css">
    <link rel="stylesheet" href="../css/crudStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />
    <title>Страница сброса пароля</title>

</head>
<body>
    <main>
        <div class="form_new">

            <form asp-antiforgery="true" asp-action="ResetPassword" asp-controller="Home" method="post">
                <input hidden name="id" value="@Model.id" />
                <input hidden name="token" value="@Model.token" />
                <input class="CrudInput" type="text"  readonly name="email" value="@Model.email"/>
                <input class="CrudInput" placeholder="Введите новый пароль" type="text" name="newPassword"  />
                <input class="CrudInput"  type="text" placeholder="Повторите пароль" name="repeatPassword" />
                <input class="newInput" type="submit" value="Сброс пароля" />
            </form>

        </div>
        <br />
        <br />
        @if (TempData["ErrorValidation"] != null)
        {
            <div class="alert alert-danger">

                @foreach (var errorMessage in (string[])TempData["ErrorValidation"])
                {
                    <p>@errorMessage</p>
                }
            </div>
        }
        <br />

    </main>

</body>
</html>