@model Mastery_Quotient.Models.MaterialsViewTeacher
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="../css/navigationStyle.css">
    <link rel="stylesheet" href="../css/materialStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />

    <title>Материалы</title>
    <div class="container">
        <a asp-action="MainTeacher" asp-controller="teacher">
            <img class="navigation_img" src="../images/3QpbYI-LogoMakr.png">
        </a>

        <ul class="navigation_ul">
            <li class="navigation_li"><a class="navigation_a" asp-action="News">Новости</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="MaterialsTeacher">Материалы</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="Course">Тесты</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="Rating">Рейтинг</a></li>
        </ul>
        <ul class="navigation_ul_right">
            <li class="navigation_li_right" style="float: right">
                <a class="navigation_a_right" asp-action="TeacherWindowMaterial" asp-controller="teacher">Создать материал</a>
            </li>
            <li class="navigation_li_right" style="float: right"><a class="navigation_a_right" asp-action="TeacherWindowTest" asp-controller="teacher">Создать тест</a></li>
        </ul>
        <button class="glow_button" onclick="window.location.href='@Url.Action("PersonalAccountTeacher", "teacher")'">
            Личный кабинет
        </button>
    </div>
</head>

<body>
    <main>
        <div class="formsContainer">
            @foreach (var item in Model.Materials)
            {
                <div class="formMaterial">
                    <form asp-action="FileMaterial" asp-antiforgery="true" asp-controller="admin">

                        <input type="image" class="imageMaterial" width="187" height="177" src="@item.PhotoMaterial" />
                        <label class="nameMaterial">@item.NameMaterial</label>
                        <input value="Подробнее" class="buttonMaterial" type="submit" />

                        <input hidden value="@item.FileMaterial" name="nameFile" />
                    </form>
                </div>

            }
        </div>


    </main>

</body>

</html>