

.table {
    width: calc(100% - 40px);
    margin-left: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

    .table th {
        font-weight: bold;
        padding: 5px;
        background: #efefef;
        border: 1px solid #dddddd;
    }

    .table td {
        border: 1px solid #dddddd;
        padding: 5px;
    }

.searchInput {
    display: inline-block;
    width: 100%;
    flex: 0.8;
    height: 45px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #add9f4;
    transition: .15s ease-in-out;
    padding: 0 15px;
    margin-bottom:10px;
    margin-left: 20px;
}

.searchImage {
    background-color: white;
    border: none;
    vertical-align: middle;
    margin-left: 10px;
    margin-bottom:10px;
}

.searchInput:focus {
    border-style: solid;
    border-color: #737373;
}

.newInput {
    text-decoration: none;
    flex:2;
    max-height: 45px;
    width: 100%;
    max-width: 250px;
    height: 45px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #6b9ac4;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
    font-size: 16px;
    margin-bottom:35px;
}

    .newInput:hover {
        background-color: #3b71d3;
    }

    .newInput a{
        text-decoration: none;
        color:white
    }

    

.image_button {
    width: 50px;
    height: 50px;
    border: none;
    background-image: url('../images/delete.png');
    background-size: cover;
}

.form_new {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    max-width: 400px;
    max-height: 700px;
}

.CrudSelect {
    display: inline-block;
    width: 100%;
    height: 45px;
    font-size: 20px;
    margin-bottom: 15px;
    margin-left:10px;
    border-radius: 10px;
    border: 2px solid #add9f4;
    transition: .15s ease-in-out;
    padding: 0 15px;
    box-sizing: border-box;
    padding-right: 30px;
}


    .CrudSelect option {
        border-style: solid;
        border-color: #6b9ac4;
        font-size: 20px;
        font-family: Mulish;
    }

.CrudSelectMaterial {
    display: inline-block;
    width: 100%;
    height: 45px;
    font-size: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 2px solid #add9f4;
    transition: .15s ease-in-out;
    padding: 0 15px;
    box-sizing: border-box;
    padding-right: 30px;
}


    .CrudSelectMaterial option {
        border-style: solid;
        border-color: #6b9ac4;
        font-size: 20px;
        font-family: Mulish;
    }

.CrudInput {
    display: inline-block;
    width: calc(100% - 30px);
    height: 45px;
    font-size: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 2px solid #add9f4;
    transition: .15s ease-in-out;
    padding: 0 15px;
}

    .CrudInput:focus {
        border-style: solid;
        border-color: #737373;
    }

.CrudLabel {
    display: inline-block;
    width: calc(100% - 30px);
    height: 45px;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top:5px;
    border-radius: 10px;
    transition: .15s ease-in-out;
}

.containerForm {
    height: 100px;
    display: flex;
    align-items: center;
    width: 100%;
}

    .containerForm form {
        display: flex;
        flex:1;
        width: 100%;
    }



.InputFiltr {
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    max-width: 400px;
    max-height: 45px;
    width: 400px;
    height: 45px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #6b9ac4;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
    font-size: 16px;
    vertical-align: middle;
    padding: 10px;
}

    .InputFiltr:hover {
        background-color: #3b71d3;
    }

    .InputFiltr a {
        text-decoration: none;
        color: white
    }


.containerFormButton {
    height: 100px;
    display: flex;
    width: 100%;
}

    
