.formMaterial {
    flex: 1; 
    text-align: center;
    width: 400px;
    height: 400px;
    max-height: 400px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px #737373;
    margin: 30px;
}

.formMaterial form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.buttonMaterial {
    text-decoration: none;
    display: inline-block;
    width: 177px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    border: none;
    background-color: #6b9ac4;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: white;
    transition: .15s ease-in-out;
    font-size: 16px;
    vertical-align: middle;
}

.buttonMaterial:hover {
    background-color: #3b71d3;
}

.nameMaterial {
    font-size: 25px;
    font-weight: bold;
    width: 397px;
    height: 64px;
    letter-spacing: 0.2px;
    margin-top: 20px;


}

.imageMaterial {
    width: 187px;
    height: 177px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.formsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.formButton {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.photoEmployee{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}
