.divForm {
    display: flex;
    width: 100%;
}

    .divForm input[type="checkbox"] {
        transform: scale(2);
        opacity: 0.9;
    }

    .divForm label {
        font-size: 18px;
        text-align: right;
        margin:5px;
        margin-left: 15px;
    }


.formTest {
    display: flex;
    text-align: center;
    width: 390px;
    height: 360px;
    max-height: 360px;
    max-width: 390px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px #737373;
    margin: 30px;
}

    .formTest form {
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }


.buttonTest {
    text-decoration: none;
    display: inline-block;
    width: 177px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    border: none;
    background-color: #6b9ac4;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: white;
    transition: .15s ease-in-out;
    font-size: 16px;
    vertical-align: middle;
}

    .buttonTest:hover {
        background-color: #3b71d3;
    }

.slider {
    width: 80%;
    margin: 0 auto;
}

.formSlider{
    width:80%;
    margin:20px;
}

.h2form {
    width: 100%;
    display: flex;
    text-align:center;
}

    .h2form h3 {
        flex: 1;
        margin: 20px;
    }

.formInput input[type="text"] {
    display: inline-block;
    width: 50%;
    height: 45px;
    font-size: 20px;
    margin: 15px;
    border-radius: 10px;
    border: 2px solid #add9f4;
    transition: .15s ease-in-out;
}

.formInput input[type="radio"], input[type="checkbox"] {
    transform: scale(2);
    opacity: 0.9;
}





.buttonPlus {
    text-decoration: none;
    flex: 2;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #6b9ac4;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 20px;

}
    .buttonPlus:hover {
        background-color: #3b71d3;
    }

    .buttonPlus a {
        text-decoration: none;
        color: white
    }






    
