.divForm {
    display: flex;
    width: 100%;
}

    .divForm input[type="checkbox"] {
        transform: scale(2);
        opacity: 0.9;
    }

    .divForm label {
        font-size: 18px;
        text-align: right;
        margin:5px;
        margin-left: 15px;
    }


/*.formTest {
    text-align: center;
    width: 390px;
    height: 360px;
    max-height: 360px;
    max-width: 390px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px #737373;
    margin: 30px;
}*/

.divTestForm {
    flex:1;
    text-align: center;
    width: 390px;
    height: 300px;
    max-height: 300px;
    max-width: 390px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px #737373;
    margin: 30px;
    padding-top:50px;
}

    .divTestForm form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

   

.formsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonTest {
    text-decoration: none;
    display: inline-block;
    width: 80%;
    height: 40px;
    margin-top: 80px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    border: none;
    background-color: #6b9ac4;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: white;
    transition: .15s ease-in-out;
    font-size: 18px;
    vertical-align: bottom;
}

    .buttonTest:hover {
        background-color: #3b71d3;
    }

.labelTest {
    font-size: 20px;
    margin-top: 20px;
}

.slider {
    width: 80%;
    margin: 0 auto;
}

.formSlider{
    width:80%;
    margin:20px;
}

.h2form {
    width: 100%;
    display: flex;
    text-align:center;
}

    .h2form h3 {
        flex: 1;
        margin: 20px;
    }

.formInput input[type="text"] {
    display: inline-block;
    width: 50%;
    height: 45px;
    font-size: 20px;
    margin: 15px;
    border-radius: 10px;
    border: 2px solid #add9f4;
    transition: .15s ease-in-out;
}

.formInput input[type="radio"], input[type="checkbox"] {
    transform: scale(2);
    opacity: 0.9;
}





.buttonPlus {
    text-decoration: none;
    flex: 2;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #6b9ac4;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 20px;

}
    .buttonPlus:hover {
        background-color: #3b71d3;
    }

    .buttonPlus a {
        text-decoration: none;
        color: white
    }


.formAnswer {
    text-align: left;
    margin-left:20px;

    
}
.number {
    font-size: 20px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    max-height: 40px;
    max-width: 40px;
    border-radius: 10px;
    box-shadow: 0 0 0 0.7px #737373;
    text-align: center;
    vertical-align: middle;
}

.name {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 40px;
    max-height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 0 0.7px #737373;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right:40px;
    padding: 0 15px;
    
}

.AnswerForm {
    border-radius: 10px;
    box-shadow: 0 0 0 0.3px #737373;
    margin-bottom: 20px;
    padding: 20px;
}
.Answer {
    font-size: 18px;
    margin: 20px;
    margin-right: 40px;
    text-align: justify;
    line-height: 1.5;
}

    .Answer input {
        margin-right: 15px;
    }

.flexDiv {
    display: flex;
    width:100%;
}

.flexDiv div{
    flex:1;
}
.test_button{
    width:100%
}


.newInputTest {
    text-decoration: none;
    flex: 2;
    max-height: 45px;
    width: 100%;
    max-width: 450px;
    height: 45px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #6b9ac4;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
    font-size: 16px;
    margin-bottom: 35px;
}

    .newInputTest:hover {
        background-color: #3b71d3;
    }

    .newInputTest a {
        text-decoration: none;
        color: white
    }

.textareaForm {
    font-size: 20px;
    height: 140px;
    width: 95%;
    resize: none;
    margin: 20px;
}


.slick-dots li button {
    font-size: 20px; /* Установите размер точек */
    width: 20px; /* Установите ширину точек */
    height: 20px; /* Установите высоту точек */
}

.photoEmployee {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}


    
